<section class="header">
  <h1>Game Store</h1>
  <ul>
      <li>
          <a routerLink="lazy/nerdCast">LANÇAMENTOS</a>
      </li>
      <li>
          <a routerLink="lazy/nerdOffcer">DESTAQUES</a>
      </li>
      <li>
          <a routerLink="lazy/nerdPlayer">PC GAMER</a>
      </li>
      <li>
          <a routerLink="lazy/nerdPlayer">ELETRÔNICOS</a>
      </li>
  </ul>
  <div class="search">
      <input type="text" name="" placeholder="Ex: RTX 3060">
      <button>Buscar</button>
  </div>
</section>
