.content {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgb(227, 227, 227);
}

input {
  padding: 10px;
}

.card1 {
  padding: 20px;
}

a {
  border-radius: 0px;
  display: flex;
  justify-content: center;
  text-decoration: none;
}

h5 {
  color: rgb(65, 65, 65);
  height: 100px;
  margin-bottom: 25px;
}

h4 {
  color: rgb(48, 48, 48);
}
/*
p{
  color: rgb(125, 125, 125);
  height: 140px;
  overflow-y: scroll;
} */

/* p::-webkit-scrollbar {
  width: 10px;
}

p::-webkit-scrollbar-track {
  background: rgb(255, 255, 255);
}

p::-webkit-scrollbar-thumb {
  background-color: rgb(54, 54, 62);
  border-radius: 20px;
  border: 3px solid rgb(255, 253, 253);
} */
