.content-main-page {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgb(227, 227, 227);
}

input {
  padding: 10px;
}

.card-content{
  padding: 20px;
}

.card{
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

a {
  border-radius: 0;
  display: flex;
  justify-content: center;
  text-decoration: none;
}

h5 {
  color: rgb(65, 65, 65);
  height: 100px;
  margin-bottom: 20px;
}

h4 {
  color: rgb(48, 48, 48);
}
